.homeWrapper{
    width: 100%;
    overflow: hidden;
}

.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
}

.topbarPlace{
    margin-top: 37px;
    position: relative;
}

.singleItem{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 26px;
    border-bottom: 1px solid rgba(182, 202, 251, 0.606827);
}

.adItem{
    margin-top: 56px;
    padding: 50px 80px 42px 80px;
    width: 100%;
    margin:  56px auto;
    overflow: scroll;
    display: flex;
    background: rgba(182, 202, 251, 0.159986);
    box-shadow: inset 0px 21px 13px rgba(182, 202, 251, 0.225402);
    img{
        padding-right: 29px;
    }
    &::-webkit-scrollbar{
        display: none;
    }
}