.logoHolder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        display: flex;
        align-items: center;
        img{
            padding-right: 20px;
        }
        span{
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 17px;
            color: #000000;
        }
    }

    .navbar{
        .link{
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #000000;
            padding: 0 10px;
        }
    }
}